body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
  }

  .form1 {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
  }

  .form1 > div label {
    font-weight: 600;
  }

  .sub-title1 {
    padding-bottom: 1.8rem;
  }

  .form1 > div {
    display: flex;
    flex-direction: column;
    row-gap: 0.35rem;
  }

  .form1 > div input,
.form1 > div textarea {
  padding: 0.9rem;
  border-radius: 0.79rem;
  border: solid grey 1px;
  width: 90%;
}

  .title1 {
    font-weight: 800;
    font-size: bold;
    padding-bottom: 2rem;
    color: rgb(133, 133, 245);
  }

  .form-container {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-top: 0;
  }

  button {
    padding: 1.4rem;
    background-color: rgb(133, 133, 245);
    color: white;
    border-radius: 1rem;
    outline: none;
    border: none;
  }

  .privacy {
    text-decoration: underline;
    color: rgb(133, 133, 245);
  }

  @media (max-width: 554px) {
    .form-container {
      padding: 0 0.75rem;
    }
  }